{body
padding:0;
margin:0;
box-sizing:border-box;

}
.main{
height:100vh;
width:100%;
background-image: url(/css/pexels-tomfisk-2169857.jpg);
background-size: cover;
display: flex;
justify-content: center;
align-items: center;

}
.left{
height:80%;
width:40%;
background-image: url(/css/pexels-tomfisk-2169857.jpg);
background-size: cover;

}
.left h1{
margin-top: 50%;
color:white;
margin-left: 40px;
}
.left p{
color:white;
margin-left: 40px;


}

.left button{
margin-left: 40px;

}
   

.right{

height:80%;
width:40%;
background-image: url(/css/pexels-tomfisk-2169857.jpg);
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;



}







